:root {
  --color-secondary: #c6a664;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0b0c10;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/images/fan.svg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.25;
}

.container {
  margin: 1rem;
}
