.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}

.you-are-invited {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--color-secondary);
  font-size: 24px;
  font-family: var(--font-limelight);
  line-height: 36px;
}

.you-are-invited > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.you-are-invited span {
  font-size: 36px;
  font-family: var(--font-dancing-script);
}

.line-big {
  width: 180px;
  height: 2px;
  background-color: var(--color-secondary);
  margin: 0.25rem 0;
}

.line-small {
  width: 150px;
  height: 2px;
  background-color: var(--color-secondary);
  margin: 0.25rem 0;
}

.wedding-title {
  color: var(--color-secondary);
  font-size: 36px;
  font-family: var(--font-limelight);
  line-height: 45px;
  text-align: center;
}

.wedding-title span {
  display: block;
  font-family: var(--font-dancing-script);
}

.wedding-date {
  color: var(--color-secondary);
  font-size: 24px;
  font-family: var(--font-limelight);
  line-height: 36px;
}
