header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  width: 100%;
  padding: 1rem;

  a {
    color: var(--color-secondary);
    text-decoration: none;
    font-family: var(--font-cinzel-decorative);
  }
}
